@charset "utf-8";
.hidden {
    display: none;
}
.time{
    width: 1200px;
    margin: 0 auto;
}
.time h2{
    text-align: center;
    font-size: 5rem;
    color: rgb(129, 28, 112);
}
img{
    top: 0%;
    z-index: -1;
    position: absolute;
    object-fit: cover;
}
#greeting{
    color:transparent;
    background: linear-gradient(to right top, rgb(19, 149, 189),rgb(180, 81, 98));
    -webkit-background-clip: text;
    font-size: 3rem;
    text-align: center;
}
li{
    list-style: none;
}
#login-form{
    position: absolute;
    left: 8%;
    transform: translate(-50%, -50%);
    top: 14%;
}
#quote{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 200px;
}
input[id='login']{
    width: 200px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ffff;
    box-shadow: 0px 3px 10px #ffff;
    background-color: initial;
    padding: 5px 50px;
    box-sizing: border-box;
}
input[id='login']::placeholder{
    color: blueviolet;
    font-weight: bold;
}
input[type = submit]{
    outline: none;
    border: none;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(70deg,blue,pink);
}
#todo-form{
    margin: 0 auto;
}
input[id = 'todo']{
    padding: 5px 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid #391281;
    background: transparent;
    font-size: 2rem;
}
input[id = 'todo']::placeholder{
    padding: 0px;
    font-weight: bold;
    color: black;
}
ul{
    margin: 0 auto;
}
.todotodoform{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#weather{
    position: absolute;
    top: 20px;
    right: 10px;
    font-weight: bold;
}
li button{
    outline: none;
    background: transparent;
    border: none;
}